seed_everything: true

trainer:
  accelerator: "gpu"
  devices: -1
  strategy: auto
#    class_path: lightning.pytorch.strategies.DDPStrategy
#    init_args:
#      find_unused_parameters: false
#      gradient_as_bucket_view: true
#      static_graph: true
  gradient_clip_val: 1.0
  precision: "bf16-mixed"
  sync_batchnorm: true
  gradient_clip_algorithm: "norm"
  logger:
    class_path: lightning.pytorch.loggers.TensorBoardLogger
    init_args:
      save_dir: ./lightning_logs
      name: change_former_tversky-focal_fire_id
#  logger:
#    class_path: lightning.pytorch.loggers.mlflow.MLFlowLogger
#    init_args:
#      save_dir: .mlflow/logs
#      log_model: all
#      experiment_name: "change_detection_AB_2"
#      run_name: "segformer_rcm_change_detection"
  callbacks:
    - class_path: lightning.pytorch.callbacks.EarlyStopping
      init_args:
        monitor: "val_loss"
        mode: "min"
        verbose: True
        patience: 15
        min_delta: 1e-3
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        dirpath: "./model_checkpoints"
        monitor: "val_loss"
        mode: "min"
        save_top_k: 10
        filename: "changeformer_tversky-focal_fire-id-{epoch:02d}-{val_loss:.3f}"
    - class_path: tools.callbacks.segmentation_visualization.VisualizationCallback
      init_args:
        max_samples: 20
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: "epoch"
#    - class_path: lightning.pytorch.callbacks.RichProgressBar

    - class_path: lightning.pytorch.callbacks.StochasticWeightAveraging
      init_args:
        swa_lrs: 1e-5
        annealing_epochs: 10
    - class_path: lightning.pytorch.callbacks.GradientAccumulationScheduler
      init_args:
        scheduling:
          0: 16    # 16*8 = 128 effective batch size at start
          30: 8    # to epoch 20, accumule 8 batchs 16*8 = 128 effective batch size
          60: 4    # to epoch 40, accumule 4 batchs 16*4 = 64 effective batch size
          80: 2    # to epoch 50, accumule 2 batchs 16*2 = 32 effective batch size
          100: 1    # then normal training with 16 batch size
  max_epochs: 150
  check_val_every_n_epoch: 1

model:
  class_path: tasks_with_models.change_detection_changeformer.ChangeDetectionChangeFormer
  init_args:
    change_detection_model: "changeformer"
    image_size: [256,256]
    # set to; it will be set to the number of band_names in the datamodule +
    # 1 for COMMON MASK
    # 1 for BITMASK
    # 1 for SAT_PASS encoding
    # 1 for BEAM encoding
    in_channels: 9 # Should be the length of data.band_names + 4
    max_samples: 10
    num_classes: 1  # binary change detection
    loss:
      class_path: segmentation_models_pytorch.losses.TverskyLoss
      init_args:
        mode: "binary"
        from_logits: True
        #smooth: 1e-6
        #eps: 1e-6
        alpha: 0.3
        beta: 0.7
        gamma: 0.7
    optimizer:
      class_path: torch.optim.AdamW
      init_args:
        lr: 6e-5
        weight_decay: 0.01
    scheduler:
      class_path: torch.optim.lr_scheduler.CosineAnnealingLR
      init_args:
        T_max: 150
        eta_min: 1e-6
    scheduler_config:
      interval: "epoch"
      frequency: 1
    
    class_labels: [ "unburn", "burn" ]
    class_colors: [ "#000000", "#FF0000" ]
    weights_from_checkpoint_path: # /app/model_checkpoints/changeformer_tversky_bce_fire-id-epoch=02-val_loss=0.550.ckpt

data:
  class_path: datamodules.rcm_change_detection_datamodule.RcmChangeDetectionDataModule
  init_args:
    batch_size: 16
    num_workers: 20
    data_type_max: 1
    patch_size:
    - 256
    - 256
    split_on_columns: db_nbac_fire_id
    csv_root_folder: /mnt/data_disk/projet_RCM_scanfire
    patches_root_folder: /mnt/data_disk/projet_RCM_scanfire
    csv_file_name: pre_post_datasets_all.csv
    #csv_file_name: pre_post_datasets.csv
    split_ratios: [0.8,0.1,0.1]
    # band_names: [ 'LOCALINCANGLE', 'RL','RR' ] # RCM INPUT (non-polarimetric intensity)
    band_names: [ 'LOCALINCANGLE', 'PDN','PSN','PVN', 'S0' ] # MCHI-DECOMP ==> 5 bands
    # band_names: null # All Bands
    # band_names: [ 'M','RL','RR','S0','SP1','SP2','LOCALINCANGLE' ]
    # RCM bands AVAILABLE
    # -------------------
    #    BITMASK_CROPPED
    #    LOCALINCANGLE
    #    M
    #    NDSV     # strongly correlated with PVN
    #    PDN
    #    PSN
    #    PVN
    #    RFDI     #
    #    RL
    #    RR
    #    S0
    #    SP1
    #    SP2
    #    SP3

    beams: # AVAILABLE: ['A','B','C','D']
    - 'A'
    #- 'B'
    #- 'C'
    satellite_pass:   # AVAILABLE: ['Ascending','Descending']
